<div class='row'>

  <%# PIPELINE %>
  <div class='col-md align-center'>
    <h2>Pipeline</h2>
    <%= image_tag('genocrunch_pipeline.png', alt: 'Genocrunch pipeline') %>
  </div>

  <%# TUTORIAL VIDEO %>
  <div class="col-md align-center">
    <h2>Tutorial <small>(coming soon)</small></h2>
      <iframe width=627 height=353 src='#'></iframe>
  </div>

</div>
<div class='row topbar-padding'>

  <div class='col-md-8 offset-md-2 card align-center'>
     <h4>
       How to cite <%= Rails.application.class.parent_name %>:
       <br>
       <small>
         Data mining was performed on <%= Rails.application.class.parent_name %> (genocrunch.epfl.ch).
         <br>
         <i>R libraries used in the analysis should also be cited.</i>
       </small>
     </h4>
  </div>

</div>
