<div class="float-right">
<%# link_to 'New Job', new_job_path, :class => "btn btn-primary" %>
</div>
<h3>List of analyses</h3>
<%= link_to 'RefreshIndex', {:controller => "jobs", :action => 'manage', :which => "mine", :what => "jobs", :previous_jobs => @jobs.map {|e| e.status}.to_a}, :remote => true, id: "refreshIndex", class: "hidden" %>

<div id="jobs-index">
  <%= render partial: '/jobs/jobs' %>
</div>

