<% if @description and !@description.empty? %>
<div class='card job-description' title='Description'>
  <div class='show-element'>
  <i class='fa fa-info-circle'></i>
  <% if @description.length() > 1 %>
    <ul>
      <% @description.each do |d| %>
        <li><%= d %></li>
      <% end %>
    </ul>
  <% else %>
    <%= @description.first %>
  <% end %>
</div>
</div>
<% end %>
