<div class="container-fluid">
<div id='job-index' class='main-container'>
  <%= render partial: '/jobs/jobs' %>
</div>
</div>

<%= link_to 'RefreshIndex', {:controller => "jobs", :action => 'update_index', previous_jobs: @jobs.map{|e| e.status.first}.join(''), :scope => @scope}, :remote => true, id: "refreshIndex", class: "hidden" %>

<%= javascript_tag do %>

  notice = '<%= notice %>'
  $(document).ready(function() {
    if (notice != '') {
      alert(notice)
    }

  clearInterval(localStorage.getItem("refresh_timer"))
  var refresh_timer = setInterval(function(){
//alert('index')
    $("#refreshIndex").click();
  },5000);
  localStorage.setItem("refresh_timer", refresh_timer);
  });



<% end %>
