<ul class='nav flex-column mr-auto mt-2 mt-lg-0 side-index-list'>

<li class="nav-item">
  <a id='overview-link' class='nav-link index-link-1' href='javascript:void(0)'>Overview</a>
</li>
<li class="nav-item">
  <a id='new-users-and-registration-link' class='nav-link index-link-1' href='javascript:void(0)'>New users and registration</a>
</li>
<li class="nav-item">
  <a id='registering-link' class="nav-link index-link-2" href='javascript:void(0)'>Registering</a>
</li>
<li class="nav-item">
  <a id='signing-in-link' class="nav-link index-link-2" href='javascript:void(0)'>Signing in</a>
</li>
<li class="nav-item">
  <a id='trying-genocrunch-link' class="nav-link index-link-1" href='javascript:void(0)'>Trying Genocrunch</a>
</li>
<li class="nav-item">
  <a id='examples-link' class="nav-link index-link-2" href='javascript:void(0)'>Examples</a>
</li>
<li class="nav-item">
  <a id='analyzing-data-link' class="nav-link index-link-1" href='javascript:void(0)'>Analyzing data</a>
</li>
<li class="nav-item">
  <a id='running-a-new-analysis-link' class="nav-link index-link-2" href='javascript:void(0)'>Running a new analysis</a>
</li>
<li class="nav-item">
  <a id='editing-an-analysis-link' class="nav-link index-link-2" href='javascript:void(0)'>Editing an analysis</a>
</li>
<li class="nav-item">
  <a id='cloning-an-analysis-link' class="nav-link index-link-2" href='javascript:void(0)'>Cloning an analysis</a>
</li>
<li class="nav-item">
  <a id='deleting-an-analysis-link' class="nav-link index-link-2" href='javascript:void(0)'>Deleting an analysis</a>
</li>
<li class="nav-item">
  <a id='inputs-and-tools-link' class="nav-link index-link-1" href='javascript:void(0)'>Inputs and Tools</a>
</li>
<li class="nav-item">
  <a id='inputs-link' class="nav-link index-link-2" href='javascript:void(0)'>Inputs</a>
</li>
<li class="nav-item">
  <a id='general-information-link' class="nav-link index-link-3" href='javascript:void(0)'>General information</a>
</li>
<li class="nav-item">
  <a id='general-information-name-link' class="nav-link index-link-4" href='javascript:void(0)'>Name</a>
</li>
<li class="nav-item">
  <a id='general-information-description-link' class="nav-link index-link-4" href='javascript:void(0)'>Description</a>
</li>
<li class="nav-item">
  <a id='data-files-link' class="nav-link index-link-3" href='javascript:void(0)'>Data files</a>
</li>
<li class="nav-item">
  <a id='data-files-primary-dataset-link' class="nav-link index-link-4" href='javascript:void(0)'>Primary dataset</a>
</li>
<li class="nav-item">
  <a id='data-files-category-column-link' class="nav-link index-link-4" href='javascript:void(0)'>Category column</a>
</li>
<li class="nav-item">
  <a id='data-files-map-link' class="nav-link index-link-4" href='javascript:void(0)'>Map</a>
</li>
<li class="nav-item">
  <a id='data-files-sample-name-link' class="nav-link index-link-4" href='javascript:void(0)'>Sample name</a>
</li>
<li class="nav-item">
  <a id='data-files-secondary-dataset-link' class="nav-link index-link-4" href='javascript:void(0)'>Secondary dataset</a>
</li>
<li class="nav-item">
  <a id='pre-processing-link' class="nav-link index-link-2" href='javascript:void(0)'>Pre-processing</a>
</li>
<li class="nav-item">
  <a id='filtering-link' class="nav-link index-link-3" href='javascript:void(0)'>Filtering</a>
</li>
<li class="nav-item">
  <a id='filtering-abundance-threshold-link' class="nav-link index-link-4" href='javascript:void(0)'>Abundance threshold</a>
</li>
<li class="nav-item">
  <a id='filtering-presence-threshold-link' class="nav-link index-link-4" href='javascript:void(0)'>Presence thresholds</a>
</li>
<li class="nav-item">
  <a id='category-binning-link' class="nav-link index-link-3" href='javascript:void(0)'>Category binning</a>
</li>
<li class="nav-item">
  <a id='category-binning-binning-levels-link' class="nav-link index-link-4" href='javascript:void(0)'>Binning levels</a>
</li>
<li class="nav-item">
  <a id='category-binning-category-binning-function-link' class="nav-link index-link-4" href='javascript:void(0)'>Category binning function</a>
</li>
<li class="nav-item">
  <a id='transformation-link' class="nav-link index-link-2" href='javascript:void(0)'>Transformation</a>
</li>
<li class="nav-item">
  <a id='rarefaction-link' class="nav-link index-link-3" href='javascript:void(0)'>Rarefaction</a>
</li>
<li class="nav-item">
  <a id='rarefaction-sampling-depth-link' class="nav-link index-link-4" href='javascript:void(0)'>Sampling depth</a>
</li>
<li class="nav-item">
  <a id='rarefaction-n-sampling-link' class="nav-link index-link-4" href='javascript:void(0)'>N samplings</a>
</li>
<li class="nav-item">
  <a id='transformation-subtitle-link' class="nav-link index-link-3" href='javascript:void(0)'>Transformation</a>
</li>
<li class="nav-item">
  <a id='transformation-subtitle-transformation-link' class="nav-link index-link-4" href='javascript:void(0)'>Transformation</a>
</li>
<li class="nav-item">
  <a id='batch-effect-suppression-link' class="nav-link index-link-3" href='javascript:void(0)'>Batch-effect suppression</a>
</li>
<li class="nav-item">
  <a id='batch-effect-suppression-batch-effect-suppression-link' class="nav-link index-link-4" href='javascript:void(0)'>Batch-effect suppression</a>
</li>
<li class="nav-item">
  <a id='analysis-link' class="nav-link index-link-2" href='javascript:void(0)'>Analysis</a>
</li>
<li class="nav-item">
  <a id='experimental-design-link' class="nav-link index-link-3" href='javascript:void(0)'>Experimental design</a>
</li>
<li class="nav-item">
  <a id='experimental-design-statistics-link' class="nav-link index-link-4" href='javascript:void(0)'>Statistics</a>
</li>
<li class="nav-item">
  <a id='experimental-design-model-link' class="nav-link index-link-4" href='javascript:void(0)'>Model</a>
</li>
<li class="nav-item">
  <a id='proportions-link' class="nav-link index-link-3" href='javascript:void(0)'>Proportions</a>
</li>
<li class="nav-item">
  <a id='diversity-link' class="nav-link index-link-3" href='javascript:void(0)'>Diversity</a>
</li>
<li class="nav-item">
  <a id='diversity-metric-link' class="nav-link index-link-4" href='javascript:void(0)'>Diversity metric</a>
</li>
<li class="nav-item">
  <a id='diversity-compare-groups-link' class="nav-link index-link-4" href='javascript:void(0)'>Compare groups</a>
</li>
<li class="nav-item">
  <a id='permanova-link' class="nav-link index-link-3" href='javascript:void(0)'>perMANOVA</a>
</li>
<li class="nav-item">
  <a id='permanova-distance-metric-link' class="nav-link index-link-4" href='javascript:void(0)'>Distance metric</a>
</li>
<li class="nav-item">
  <a id='permanova-model-link' class="nav-link index-link-4" href='javascript:void(0)'>Model</a>
</li>
<li class="nav-item">
  <a id='permanova-strata-link' class="nav-link index-link-4" href='javascript:void(0)'>Strata</a>
</li>
<li class="nav-item">
  <a id='pca-link' class="nav-link index-link-3" href='javascript:void(0)'>PCA</a>
</li>
<li class="nav-item">
  <a id='pcoa-link' class="nav-link index-link-3" href='javascript:void(0)'>PCoA</a>
</li>
<li class="nav-item">
  <a id='pcoa-distance-metric-link' class="nav-link index-link-4" href='javascript:void(0)'>Distance metric</a>
</li>
<li class="nav-item">
  <a id='heatmap-link' class="nav-link index-link-3" href='javascript:void(0)'>Heatmap</a>
</li>
<li class="nav-item">
  <a id='changes-link' class="nav-link index-link-3" href='javascript:void(0)'>Changes</a>
</li>
<li class="nav-item">
  <a id='correlation-network-link' class="nav-link index-link-3" href='javascript:void(0)'>Correlation network</a>
</li>
<li class="nav-item">
  <a id='correlation-network-correlation-method-link' class="nav-link index-link-4" href='javascript:void(0)'>Correlation method</a>
</li>
<li class="nav-item">
  <a id='clustering-link' class="nav-link index-link-3" href='javascript:void(0)'>Clustering</a>
</li>
<li class="nav-item">
  <a id='clustering-algorithm-link' class="nav-link index-link-4" href='javascript:void(0)'>Algorithm</a>
</li>
<li class="nav-item">
  <a id='similarity-network-link' class="nav-link index-link-3" href='javascript:void(0)'>Similarity network</a>
</li>
<li class="nav-item">
  <a id='similarity-network-metric-for-primary-dataset-link' class="nav-link index-link-4" href='javascript:void(0)'>Metric for primary dataset</a>
</li>
<li class="nav-item">
  <a id='similarity-network-metric-for-secondary-dataset-link' class="nav-link index-link-4" href='javascript:void(0)'>Metric for secondary dataset</a>
</li>
<li class="nav-item">
  <a id='similarity-network-clustering-algorithm-link' class="nav-link index-link-4" href='javascript:void(0)'>Clustering algorithm</a>
</li>
<li class="nav-item">
  <a id='versions-link' class="nav-link index-link-2" href='javascript:void(0)'>Versions</a>
</li>
<li class="nav-item">
  <a id='analysis-report-link' class="nav-link index-link-1" href='javascript:void(0)'>Analysis report <i class='fa fa-eye'></i></a>
</li>
<li class="nav-item">
  <a id='exporting-figures-link' class="nav-link index-link-2" href='javascript:void(0)'>Exporting figures</a>
</li>
<li class="nav-item">
  <a id='archive-link' class="nav-link index-link-2" href='javascript:void(0)'>Archive <i class="fa fa-file-archive-o" aria-hidden="true"></i></a>
</li>
</ul>

<script>

scrollTo('overview-link','overview')
scrollTo('new-users-and-registration-link','new-users-and-registration')
scrollTo('registering-link','registering')
scrollTo('signing-in-link','signing-in')
scrollTo('trying-genocrunch-link','trying-genocrunch')
scrollTo('examples-link','examples')
scrollTo('analyzing-data-link','analyzing-data')
scrollTo('running-a-new-analysis-link','running-a-new-analysis')
scrollTo('editing-an-analysis-link','editing-an-analysis')
scrollTo('cloning-an-analysis-link','cloning-an-analysis')
scrollTo('deleting-an-analysis-link','deleting-an-analysis')
scrollTo('inputs-and-tools-link','inputs-and-tools')
scrollTo('inputs-link','inputs')
scrollTo('general-information-link','general-information')
scrollTo('general-information-name-link','general-information-name')
scrollTo('general-information-description-link','general-information-description')
scrollTo('data-files-link','data-files')
scrollTo('data-files-primary-dataset-link','data-files-primary-dataset')
scrollTo('data-files-category-column-link','data-files-category-column')
scrollTo('data-files-map-link','data-files-map')
scrollTo('data-files-sample-name-link','data-files-sample-name')
scrollTo('data-files-secondary-dataset-link','data-files-secondary-dataset')
scrollTo('pre-processing-link','pre-processing')
scrollTo('filtering-link','filtering')
scrollTo('filtering-abundance-threshold-link','filtering-abundance-threshold')
scrollTo('filtering-presence-threshold-link','filtering-presence-threshold')
scrollTo('category-binning-link','category-binning')
scrollTo('category-binning-binning-levels-link','category-binning-binning-levels')
scrollTo('category-binning-category-binning-function-link','category-binning-category-binning-function')
scrollTo('transformation-link','transformation')
scrollTo('rarefaction-link','rarefaction')
scrollTo('rarefaction-sampling-depth-link','rarefaction-sampling-depth')
scrollTo('rarefaction-n-sampling-link','rarefaction-n-sampling')
scrollTo('transformation-subtitle-link','transformation-subtitle')
scrollTo('transformation-subtitle-transformation-link','transformation-subtitle-transformation')
scrollTo('batch-effect-suppression-link','batch-effect-suppression')
scrollTo('batch-effect-suppression-batch-effect-suppression-link','batch-effect-suppression-batch-effect-suppression')
scrollTo('analysis-link','analysis')
scrollTo('experimental-design-link','experimental-design')
scrollTo('experimental-design-statistics-link','experimental-design-statistics')
scrollTo('experimental-design-model-link','experimental-design-model')
scrollTo('proportions-link','proportions')
scrollTo('diversity-link','diversity')
scrollTo('diversity-metric-link','diversity-metric')
scrollTo('diversity-compare-groups-link','diversity-compare-groups')
scrollTo('permanova-link','permanova')
scrollTo('permanova-distance-metric-link','permanova-distance-metric')
scrollTo('permanova-model-link','permanova-model')
scrollTo('permanova-strata-link','permanova-strata')
scrollTo('pca-link','pca')
scrollTo('pcoa-link','pcoa')
scrollTo('pcoa-distance-metric-link','pcoa-distance-metric')
scrollTo('heatmap-link','heatmap')
scrollTo('changes-link','changes')
scrollTo('correlation-network-link','correlation-network')
scrollTo('correlation-network-correlation-method-link','correlation-network-correlation-method')
scrollTo('clustering-link','clustering')
scrollTo('clustering-algorithm-link','clustering-algorithm')
scrollTo('similarity-network-link','similarity-network')
scrollTo('similarity-network-metric-for-primary-dataset-link','similarity-network-metric-for-primary-dataset')
scrollTo('similarity-network-metric-for-secondary-dataset-link','similarity-network-metric-for-secondary-dataset')
scrollTo('similarity-network-clustering-algorithm-link','similarity-network-clustering-algorithm')
scrollTo('versions-link','versions')
scrollTo('analysis-report-link','analysis-report')
scrollTo('exporting-figures-link','exporting-figures')
scrollTo('archive-link','archive')
</script>


