<div class="container-fluid">
<div class='row main-container'>

  <div id='doc-text' class='col-xl-10 col-lg-10 col-md-12 col-sm-12'>
    <%= render :partial => 'doc' %>
  </div>

<nav class="navbar navbar-toggleable-md fixed-top topbar-margin col-xl-2 col-lg-2 col-md-12 col-sm-12 offset-xl-10 offset-lg-10 side-index-container">
  <div class="collapse navbar-collapse border-left" id="doc-index">
    <div class='side-index'>
      <%= render :partial => 'doc_index' %>
    </div>
  </div>
</nav>

</div>
</div>

<%= javascript_tag do %>
  selectBtn("#home-pages-list.navbar-nav>nav-item", "#home-pages-list.navbar-nav>#infos")
<% end %>
