<div class="container-fluid">
  <div class="row main-container">
    <div class="col-md-8 offset-md-2">
      <pre class="terms"><%= File.read('public/app/TERMS_OF_SERVICE.txt') %></pre>
    </div>
  </div>
</div>

<%= javascript_tag do %>
  clearInterval(localStorage.getItem("refresh_timer"))
  selectBtn("#home-pages-list.navbar-nav>nav-item", "#home-pages-list.navbar-nav>#infos")
<% end %>

