<div class="container-fluid">
<div class="row main-container">

  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 offset-xl-3 offset-lg-3 offset-md-3 offset-sm-0 align-center">
    <h2>Coming soon!
    <br>
    <small>See the <b><a href="<%= doc_home_index_path %>" target='_self'>Doc</a></b> in the <b>Infos</b> menu for help.</small>
    </h2>
    <div class='video-wrapper'>
      <iframe width="560" height="315" src="" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
  </div>

</div>
</div>
