<div class="container-fluid">
<div class="row main-container">
  <div class="col-md align-center">
    <h2>Coming soon!
    <br>
    <small>See the <b><a href="<%= doc_home_index_path %>" target='_self'>Doc</a></b> in the <b>Infos</b> menu for help.</small>
    </h2>
      <iframe width=627 height=353 src='#'></iframe>
  </div>
</div>
</div>
