<script>
  $("#topbar-text").html("Help");
</script>

<div class="container-fluid">
  <div class="row form-container">
    <div class="col-md-10 col-md-offset-1">
      <h2>Metadata table</h2>
      <h3>Format:
        <small>Tab-delimited text.</small>
      </h3>
      <h3>Content:<br><br>
        <small>
          <ul>
            <li>Optional comments can be included at the beginning of the file, after a '#' character.</li><br>
            <li>The first row of the data table contains unique column names (If they are comments, it must start with the # character).<br>
            <em>In absence of any comments, the first row could directly start with a tab (empty first element) and no # is needed.</em></li><br>
            <li>First column contains unique rows names.</li><br>
            <li>Following columns contains numeric values and start with unique sample names as headers. Sample names must match those in the input file as well as the appropriate column in the mapping file.</li><br>
          </ul>
        </small>
      </h3>
      <h3>Example:</h3>
      <pre><%= render :file => '/public/examples/metadata.txt' %></pre>
    </div>
  </div>
</div>
