.menu {width:100%;margin:5px}
.menu a {width:100%;}
.sub-menu {width:100%;margin:5px}
.sub-menu a {width:100%}
#job_header_right {position:absolute; top:0px; right:10px}
.status_image {height:15px}

.job-description {
  max-height:100px;
  height:auto;
  overflow:auto;
}

.show-element {
 margin:10px;
 padding:10px;
}

