.show-navbar {
  background-color:#f7f7f9;
}

.menu.btn {
  border-color:#ccc;
  border-top:1px solid #ccc;
}
.menu.btn.selected {
  background-color:#e6e6e6;
  color:inherit;
}
.menu.btn:focus,
.menu.btn-secondary:focus {
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}

#job_header_right {
  position:absolute;
  top:0px;
  right:10px;
}

.job-description {
  max-height:100px;
  height:auto;
  overflow:auto;
}

.show-element {
 margin:10px;
 padding:10px;
}
